In [ ]:
#ans-1
#list is one of the data type in python. list is used to store mutiple items in a single variable.
#it is be denoted by square bracket[].
#list can be reevered by using the mathod called ".reverse()"

In [3]:
#ans-2
#last object from the list can be removed by using ".pop()" method.
list3=[2,33,222,14,25]
list3[-1]

25

In [1]:
#ans-3
#append() method adds an element as 1 element while extend method can only add iterable as individuals.

25

In [ ]:
#ans-4

In [3]:
#ans=5
list1=[18,21,27,50]
list2=[17,25,28,78]
list1.sort()
list2.sort()
if list1==list2:
    print('list are same')
else:
    print('list are not same')

list are not same

In [15]:
#ans=6
list2=['dsa', 'asw','afa','2889']
len([ele for ele in list2 if (len(ele) >= 2 and ele[0]==ele[-1])])

1

In [17]:
#ans-7
list1=[{78,89,45,66,12,89,56,65}]
print(list1)

[{65, 66, 56, 89, 12, 45, 78}]

In [34]:
#ans-8
list2= [] 
if (len(list2)== 0):
    print('list is empty')
else:
    print('list has element')

list is empty

In [ ]:
#ans-9

In [39]:
#ans-10
list4 = []
for i in range (1,31):
    if (i<5 or (i>25 and i<=30)):
        list4.append(i*i)
print(list4)

[1, 4, 9, 16, 676, 729, 784, 841, 900]

In [41]:
#ans-11
list6 = [56,89,56,78,12,63,89,23]
list5 = set(list6)
print(list5)

{12, 78, 23, 56, 89, 63}

In [42]:
#ans-12
h = ['c','d','e','f']
st=''
for i in h:
    st+=i
print(st)

cdef

In [51]:
#ans-13
random
list4 = [2,6,'yaya','yoyo',-7]
random.choice(list7)

1

In [52]:
#ans-14
list7 = [89,45,78,56,12,6,34,99]
list7.sort()
print(list7[1])

12

In [53]:
#ans-15
list5 = [15,56,3,78,15,85,34,3,52]
d = set(list5)
print(d)

{34, 3, 78, 15, 52, 85, 56}

In [55]:
#ans-16
list15 = [[15,45,33],[3,2,1],[55,56,89]]
sblist=[3,2,1]
if sblist in list15:
    print('list contains sublist')
else:
    print('no sublist found')

list contains sublist

In [58]:
#ans-17
a,b,c,d,e =['20','21','22','23','24']
print(a)
print(b)
print(c)
print(d)
print(e)

20
21
22
23
24

In [ ]:
#ans-18

In [ ]:
#ans-19
tup12 = {258,1.23,FALSE,'DATA',(1,8,8),[4,7,6],{1,4,6},{a:12,b:89}}

In [59]:
#ans-20
tup3 = '56','23','47','89','12','78'
print(tup3)

('56', '23', '47', '89', '12', '78')

In [60]:
#ans-21
tup9=('yum','he','hum')
sb7=''
for i in tup9:
    sb7+=i
    print(sb7)

yum
yumhe
yumhehum

In [70]:
#ans-22
tup89 = ()
if len(tup89) !=0:
    print('element exit in tuple')
else:
    print('very dul time')

very dul time

In [75]:
#ans-23
tup=(1,5,8,9,{'t':"rge"})
print(len(tup))

5

In [79]:
#ans-24
list1 = (1,5,8,[1,2],9,{'t':'range'})
g=tuple(list1)
print(g)

(1, 5, 8, [1, 2], 9, {'t': 'range'})

In [80]:
#ans-25
tup2 = ('int',5,6,{'a':56},[1,7],(4,6))
tup3=tup2[::1]
print(tup3)

('int', 5, 6, {'a': 56}, [1, 7], (4, 6))

In [2]:
#ans-26
tup1 = (12,23,33,44,55,60)
a = list(tup1)
a.pop(-1)
a.append('too')
print(a)

[12, 23, 33, 44, 55, 'too']

In [4]:
#ans-27
tupn = (1,8,8,9,9,6,6,6,6,7)
tupw = []
for i in tupn:
    if tupn.count(i)!=1:
        if(i not in tupw):
            tupw.append(i)
            print(i)

8
9
6

In [6]:
#ans-28
list8 = [(1,2,3),(),'8','90','5']
p = list8.remove(())
print(list8)

[(1, 2, 3), '8', '90', '5']

In [20]:
#ans-29
list = [(999,45),('dfs',25),(56,'str',(456,89))]
for i in list:
    print(i)

(999, 45)
('dfs', 25)
(56, 'str', (456, 89))

In [21]:
#ans-30
tup1 = ([897,45],['ghj',2],[89,'str'])
dict(tup1)

{897: 45, 'ghj': 2, 89: 'str'}

In [23]:
#ans-31
tup2 = ((5,'cds'),('afd',56),('kjh','fds'))
print(dict(tup2))

{5: 'cds', 'afd': 56, 'kjh': 'fds'}

In [ ]:
#ans-32

In [2]:
#ans-33
dict10 = {1:1,2:2}
dict9 = {3:3,4:4}
dict10.update(dict9)
print(dict10)

{1: 1, 2: 2, 3: 3, 4: 4}

In [4]:
#ans-34
dict5 = {'2': 'kiran','5':'boni','8':'preet','6':'sachin'}
key = input()
if key in dict5:
    print('key is in dict')
else:
    print('can not found key')

6
key is in dict

In [ ]:
#ans-35